@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  p {
    @apply mb-3;
  }

  ul {
    @apply list-disc;
  }

  ol {
    @apply list-decimal;
  }

  ul, ol {
    @apply my-3 md:pl-10;
  }

  input {
      @apply p-2 focus:shadow-md;
  }

}

@layer components {
  .btn {
    @apply relative top-[-2px] cursor-pointer bg-cyan-100 font-bold shadow-[0_2px_0_0_#888] border-2 border-gray-500 rounded-md px-5 py-2.5 text-center text-gray-800 hover:border-gray-800 active:shadow-none active:top-0 mt-4 md:mt-0 md:me-8;
  }

  .card {
      @apply md:container mx-auto max-w-max flex  flex-col rounded-lg p-2 md:p-8 my-2 md:my-8 bg-slate-50
  }

  .widget {
      @apply flex flex-auto bg-red-50 flex-col rounded-lg border-dashed border-2 border-cyan-600 drop-shadow-md
  }

  .chart-box svg {
      margin: auto;
  }
}

@layer utilities {
  .link {
    @apply text-blue-600 underline hover:decoration-2 hover:text-blue-800;
  }
}
